.conternedorFormAcces{
    background-color: aliceblue;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    height: min-content;
    width: 95%;
    left: 2.5%;
    border-radius: 12px;
    -webkit-box-shadow: -11px 6px 14px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -11px 6px 14px 3px rgba(0, 0, 0, 0.34);
    box-shadow: -11px 6px 14px 3px rgba(0, 0, 0, 0.34);
}
.contenedor-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn-primary{
    text-align: center;
    color: rgb(40, 41, 107);
    font-weight: bold;
    font-size: 16px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(16, 8, 100, 0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(16, 8, 100, 0.75);
    box-shadow: 2px 4px 5px 0px rgba(16, 8, 100, 0.75);
    padding: 7px;
    margin-bottom: 4px;
    width: 213px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid rgb(40, 41, 107) ;
    letter-spacing: 1.2px;
}
.btn-primary:hover{
    
        -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        outline: 2px solid rgb(250, 250, 251); 
        color: #fff!important;
        background-color:rgb(42, 46, 104)!important ;
        transition: background 0.2s ease-out;
        
}
.contenedor-btn-secundary{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.btn-secundary{
    text-align: center;
    color: rgb(40, 41, 107);
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 8px;
    border: 0.5px solid rgb(40, 41, 107) ;
    letter-spacing: 1.2px;
}
.btn-secundary:hover{

        -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        outline: 2px solid rgb(250, 250, 251); 
        color: #fff!important;
        background-color:rgb(42, 46, 104)!important ;
        transition: background 0.2s ease-out;
}

.conternedorFormAcces>div>p{
    color: rgb(40, 41, 107);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.formAcces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(40, 41, 107);
    font-weight: bold;
    font-size: 20px;
}

.formAcces>label {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.formAcces>input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid rgb(23 44 102);
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
}


.formAcces>button:hover{
    cursor: pointer;
}
.errorForm{
    color: rgb(255, 255, 255);
    background-color: rgb(40, 41, 107);
    padding:10px;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;
    
}

@media screen and (min-width: 768px) {
    .conternedorFormAcces {
        width: 30%;
        left: 35%;
        top: 18%;
    }
}