.ui.modal > .content {
  background-color: rgb(195, 197, 201);
}
.ui.modal > .content > p {
  font-size: 20px;
  font-weight: bold;
}
.ui.modal > .content > p > span {
  margin-left: 18px;
  font-weight: bold;
}
.ui.form .field > label {
  font-size: 18px !important;
  color: rgb(22, 25, 69);
  margin-top: 6px;
  margin-left: 10px;
}

.ui.form input[type='text'],
.ui.form select,
.ui.form textarea {
  color: rgb(24, 27, 69) !important;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 8px 7px 7px 10px;
  border-radius: 12PX;
  font-weight: bold;
}
.ui.form input[type='text']::placeholder,
.ui.form textarea::placeholder {
  color: rgba(1, 2, 18, 0.461);
  font-weight: bold;
}
.ui.warning.message {
  background-color: rgba(255,255,255)!important;
  color: rgba(6, 9, 51, 0.8) !important;
  margin-bottom: 10px;
}
.ui.form select {
  text-align: center;
}
.ui.form select > option {
  padding: 10px;
  color: rgb(42, 46, 104) !important;
  font-weight: bold;
}
.ui.form select > option:focus {
  background-color: rgb(44, 47, 94) !important;
  border: none !important;
  font-weight: bold;
}
.ui.negative.button {
  background-color: rgb(26 28 59) !important;
  border-radius: 50%;
  font-size: 10px;
}
.ui.negative.button:hover{
  background-color: rgb(226, 227, 237) !important;
  color: rgb(5, 13, 85);
  outline: 1px solid rgb(5, 13, 85); 
  transition: background 0.2s ease-in-out;
}
.ui.error.message {
  background-color: rgba(255,255,255);
  color: rgba(6, 9, 51, 0.8) !important;
  border:none !important;
}
.botonAdd {
  background-color: rgb(26 28 59);
  color: rgba(255,255,255);
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.botonAdd:hover{
  background-color: rgb(226, 227, 237);
  color: rgb(5, 13, 85);
  outline: 1px solid rgb(5, 13, 85); 
  font-weight: bold;
  transition: background 0.2s ease-out;
}

.contenedor-botones-center{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.ui.inverted.blue.button{
  background-color: transparent;
  box-shadow: 0 0 0 2px rgb(42, 46, 104) inset!important;
  color: rgb(42, 46, 104);
  letter-spacing: 1.5px;
}
.ui.inverted.blue.button:hover{
  background-color: rgb(42, 46, 104);
  transition: background 0.7s ease-out;
  
}
.ui.inverted.red.button{
  color: rgb(187, 6, 6);
  box-shadow:  0 0 0 2px rgb(187, 6, 6) inset!important;
  letter-spacing: 1.5px;
}
.ui.inverted.red.button:hover{
  background-color: rgb(187, 6, 6);
  transition: background 0.2s ease-out;
  
}
.Modal-header{
  display: flex !important;
  justify-content: center !important;
  
}
.Modal-title{
  margin-bottom: 0px !important;
  font-size: 25px!important;
}
.Content-Icon{
  margin-left: 8px;
  margin-right: 8px;
  
}