/*Contenedor de todo el buscador*/
.buscador {
  display: block;
  margin-top: 25px;
  margin: 25 auto;
}
.titleBuscador{
  text-align: center;
  letter-spacing: 1.5px;
}
.containerInput {
  display: block;
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .containerInput {
   display: flex;
  } 
}
.inputBuscar {
  background: var(--background-light);
  color: var(--color-text);
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
}
.ui.icon.input > input {
  background-color: var(--background-light);
  color: var(--color-text);
  border: none;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.3px;
  padding:10px;
}
/* Contenedor de todas las alarmas*/
.table{
  margin: 15px auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .table{
    width: 80%;
  }
}

.containerAlarm{
  display: block;
  background-color: var(--background-light);
  padding: 15px;
  margin: 18px auto;
  max-width: 800px;
  border: 2px solid rgba(0, 0, 0, 0.774);
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.containerAlarm-tr{
  display: block;
  background-color: var(--background-light);
  color: var(--color-text);
}
.containerAlarm-td {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

/* alarma de escada */
.containerAlarm-alarmaScada {
  display: block;
  width: 100%;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 8px;
  border: 1px solid rgba(22, 4, 77);
  color: rgb(22, 4, 77);
  border-radius: 8px;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
}
/*========================== */
/*TITULO DE LA ALARMA*/

.contaienrAlarm-contenido-title {
  letter-spacing: 1.4px;
  font-weight: bold;
}
.btn-Eliminar{
  background-color: rgb(42, 46, 104);;
  color:rgba(255,255,255);
  border-radius: 50px;
  margin-left: 5px;
  letter-spacing:1.4px;
  text-align:center;
  padding:10px;
  border: none;
  margin-top: 8px;
}
.btn-Eliminar:hover{
    box-sizing:border-box;
    background-color: rgb(226, 227, 237);
    color: rgb(5, 13, 85);
    outline: 1px solid rgb(5, 13, 85);
    transition: all 0,4s;
}
.btn-Eliminar:active{
  transform: translateY(2px);
}
.icon{
  display: block !important;
  margin: 0 auto !important;
  
}

/*=========================================*/

/*DESCRIPCION DE LA ALARMA */

.containerAlarm-descripcion {
  font-size: 14px;
  padding: 12px 2px;
  letter-spacing: 1.2px;
  margin-block-start: 0px;
  padding-left: 8px;
  display: block;
  width: 100%;
  text-align: left !important;
}
.descriptionAdmin{
  border-top: 1px solid var(--color-text);
}

/*footer alarma*/

.contenedor-footer-alarm{
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .contenedor-footer-alarm{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  
}
/*========================== */

