body {
  background-color: var(--background-general);
}

/*Contenedor general  */
.App {
  display: block;
  margin: 30px auto;
  width: 90%;
  color: rgb(255, 255, 255);
}
.App > h1 {
  text-align: center;
}
.contenedor-centrador {
  text-align: center;
}