/*Contenedor general  */
.App {
  display: block;
  margin: 5px auto;
  width: 90%;
}

/*Modal*/
.title-modal {
  display: flex;
  justify-content: space-between;
}
.title-modal > h1 {
  display: inline-block;
  margin: 0px auto;
}
