/*Contenedor general  */
.App {
  display: block;
  margin: 30px auto;
  width: 90%;
  color: rgb(255, 255, 255);
}
.App > h1 {
  text-align: center;
}
.contenedor-centrador {
  text-align: center;
}
.btn {
  color: rgb(42, 46, 104) !important;
  font-weight: bold !important;
  margin: 0 auto;
  text-align: center;
  font-size: 18px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/*Modal*/
.title-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.title-modal > h1 {
  display: block;
  margin: 0px auto;
  color: rgb(4, 8, 58);
}
